################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Scheddy/Scheddy/App_Data
/Scheddy/.vs/config/applicationhost.config
/Scheddy/Scheddy/obj/
