
@{
    ViewBag.Title = "CannotDelete";
}

<h2 style="color:red">Error</h2>

<div style="color:red">Cannot delete Course. It is being used in a Section</div>
<div>Return to @Html.ActionLink("Courses", "Index")</div>