@model Scheddy.ViewModels.SectionScheduleType
@{
    ViewBag.Title = "CannotDelete";
}

<h2 style="color:red">Error</h2>

<div style="color:red">Cannot delete Section. Don't really know why yet. Daytabayse effing hates me. Also, it's going to delete it anyway and now I'm super confused.</div>
@{
    if (Model.scheduleType.Equals(1))
    {
        <div>Return to @Html.ActionLink("Index By Professor", "IndexByProfessor", "Schedule", new {id = Model.section.ScheduleId}, null)</div>
    }
    else
    {
        <div>Return to @Html.ActionLink("Time by Classroom", "IndexByClassroom", "Schedule", new {id = Model.section.ScheduleId }, null)</div>
    }
}